* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  margin-bottom: 2rem;
  text-align: center;
}

img {
  height: auto;
  width: 100%;
  display: block;
}

ul,
li {
  list-style-type: none;
}

.container {
  padding: 2rem 0;
}

.row {
  width: 90%;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}

.flex_sb {
  justify-content: space-between;
}

.justify_start {
  justify-content: flex-start;
}

.align_start {
  align-items: flex-start;
}

.wrap {
  flex-wrap: wrap;
}

.text_center {
  text-align: center;
}

form {
  width: calc(100% / 3);
  margin: 0 auto 2rem;
}

.search-container {
  text-align: center;
}

.seach-keywords {
  max-height: 200px;
  margin: 0 auto;
  overflow: auto;
}

.seach-keywords li:hover {
  cursor: pointer;
  background-color: lavenderblush;
}

.searchBox {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  display: block;
  border: none;
  outline: none;
  background-color: lightgray;
  color: black;
}

.gallery {
  align-items: stretch;
  gap: 20px;
}

.col-4 {
  flex-basis: calc(100% / 4 - 20px);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.main_img,
.main_img img {
  height: 200px;
}

.main_img > span {
  width: 100%;
}

.content {
  padding: 1rem;
}

.username {
  margin-left: 1rem;
  display: inline-block;
  font-size: 12px;
}

.bio {
  font-size: 11px;
}

.content_overlay {
  height: 99%;
  width: 100%;
  border-radius: 10px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  opacity: 0;
  transition: all 0.4s ease-in-out 0s;
  background: rgba(0, 0, 0, 0.9);
}

.col-4:hover .content_overlay {
  opacity: 1;
}

.hoverImg {
  height: 50px;
  width: 50px;
  margin: 0 auto 1rem;
}

.user_details {
  width: 100%;
  padding-right: 1em;
  padding-left: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out 0s;
  color: white;
  font-size: 10px;
  text-align: center;
}

.user_details h3 {
  margin-bottom: 1rem;
  font-size: 18px;
}

.user_details p {
  line-height: 2;
  font-size: 12px;
}

.col-4:hover .user_details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.fadeIn_bottom {
  top: 80%;
}

@media only screen and (max-width: 900px) {
  .col-4 {
    flex-basis: calc(100% / 3 - 30px);
  }
}

@media only screen and (max-width: 768px) {
  .col-4 {
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media only screen and (max-width: 480px) {
  .col-4 {
    flex-basis: calc(100% - 30px);
  }
}
